@import "../../../variables.less";

.hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 30px;

  @media (min-width: @desktop) {
    flex-direction: row-reverse;
  }

 .hero-image-container img {
   @media (min-width: @phone-sm) {
     height: 250px;
     width: 250px;
   }

   @media (min-width: @tablet) {
     height: 320px;
     width: 320px;
   }

   @media (min-width: @desktop) {
     height: 500px;
     width: 500px;
   }

   margin-bottom: 20px;
 }

 .hero-content {
   display: flex;
   flex-direction: column;
   gap: 5px;
   align-items: center;


   @media (min-width: @phone-sm) {
     h1 {
       font-size: @phone-title-font-size;
     }

     p {
       font-size: @phone-paragraph-font-size;
     }
   }

   @media (min-width: @tablet) {
     h1 {
       font-size: @tablet-title-font-size;
     }

     p {
       font-size: @tablet-paragraph-font-size;
     }
   }

   @media (min-width: @desktop) {
     padding: 50px;

     h1 {
       font-size: @desktop-title-font-size;
     }

     p {
       font-size: @desktop-paragraph-font-size;
     }
   }

 }

 .getstarted-btn {
   width: 50%;
   background-color: @quaternary-color;
   padding: 7px;
   border-radius: 20px;
   font-weight: 600;

   @media (min-width: @phone-sm) {
     font-size: @phone-paragraph-font-size;
   }

   @media (min-width: @tablet) {
     font-size: @tablet-paragraph-font-size;
   }

   @media (min-width: @laptop) {
     width: 50%;
     font-size: @laptop-paragraph-font-size;
   }

   @media (min-width: @large-desktop) {
     width: 30%;
   }
 }
}
