<div class="container">
  <div class="forgotpass-main">
    <img src="/illustrations/coffee-cup3.svg" alt="" />

    <div class="content-container">
      <h1>Forgot your password?</h1>
      <p>No worries, it happens. Enter your details and set a new password.😉</p>

      @if (loginService.signalMessage$()) {
        <div class="alert alert-danger" role="alert">
          <p>{{ loginService.signalMessage$() }}</p>
        </div>
      }

      @if (!forgotPasswordService.isEmailValid()) {
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitEmail()">
          <div class="verify-email-container">
            <div class="email-form">
              <input
                class="form-control"
                formControlName="email"
                type="email"
                id="email"
                placeholder="Email"
              />
              <button class="btn" type="submit" [disabled]="forgotPasswordService.isSubmitted()">
                Verify Email
              </button>
            </div>
          </div>
        </form>
      } @else {
        <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmitNewPassword()">
          <div class="verify-email-container">
            <div class="email-form">
              <input
                class="form-control"
                formControlName="password"
                type="password"
                id="password"
                placeholder="New password"
              />
              <button class="btn" type="submit" [disabled]="forgotPasswordService.isSubmitted()">
                Reset password
              </button>
            </div>
          </div>
        </form>
      }

      <div class="new-account-container">
        <p>
          {{ LoginConstant.ALREADY_HAVE_ACCOUNT }}
          <a (click)="onLoginAction()">{{ LoginConstant.LOGIN }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
