@import "../../../../variables.less";

.cafes-container {
  padding: 30px 0;

  .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    h1 {
      font-size: @phone-title-font-size;

      @media (min-width: @laptop) {
        font-size: @laptop-title-font-size;
      }
    }

    .btn {
      font-size: @phone-paragraph-font-size;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: @laptop) {
        font-size: @laptop-paragraph-font-size;
      }
    }
  }

  .cafe-cards {
    padding: 10px 0;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;

      img {
        border-radius: 10px;
        max-width: 100%;
        width: 400px;
        height: 250px;
        object-fit: cover;
      }
    }

    .cafe-information {
      padding: 0 10px;

      h1 {
        font-size: @phone-title-font-size;
        font-weight: 500;
        margin-bottom: 0;

        @media (min-width: @laptop) {
          font-size: @laptop-title-font-size;
        }
      }

      p {
        margin-bottom: 0;
        font-size: @phone-paragraph-font-size;

        @media (min-width: @laptop) {
          font-size: @laptop-paragraph-font-size;
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        span {
          background-color: @primary-color;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 11px;
        }
      }

      .view-cafe-btn {
        margin-top: 5px;

        .btn {
          font-weight: 500;
          font-size: @phone-paragraph-font-size;
          background-color: @quaternary-color;
          transition: all 0.3s ease;

          &:hover {
            background-color: @tertiary-color;
            transform: scale(1.06);
          }

          @media (min-width: @laptop) {
            font-size: @laptop-paragraph-font-size;
          }
        }
      }
    }
  }
}
