/* You can add global styles to this file, and also import other style files */
@import "variables.less";

:root {
  --dirty-white: #F9F8F6;
  --primary-color: #EFE9E3;
  --secondary-color: #D9CFC7;
  --tertiary-color: #D9CFC7;
  --quaternary-color: #C9B59C;
}

body {
  --bs-body-font-family: 'Inter', sans-serif;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --bs-body-bg: var(--dirty-white);
  background-color: var(--dirty-white);
}
