/**
 * Variables for responsive design.
 */
@phone-sm: 320px;
@tablet: 768px;
@desktop: 992px;
@laptop: 1024px;
@large-desktop: 1200px;

/**
 * Variables for responsive texts.
 */
@phone-title-font-size: 1.406rem;
@tablet-title-font-size: 1.438rem;
@laptop-title-font-size: 1.563rem;
@desktop-title-font-size: 2.188rem;
@phone-paragraph-font-size: 0.75rem;
@tablet-paragraph-font-size: 0.875rem;
@laptop-paragraph-font-size: 1.063rem;
@desktop-paragraph-font-size: 1rem;


/*
 * Variables for color pallete.
 */
@dirty-white: #F9F8F6;
@primary-color: #EFE9E3;
@secondary-color: #D9CFC7;
@tertiary-color: #D9CFC7;
@quaternary-color: #C9B59C;
